* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #bbdefb;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20%; /* space for fixed footer */
}

/*-----------------------------------------HEADER-------------------------------------------------*/
header {
    background-color: #64b5f6;
    position: fixed; /*added this to make the header stay fixed*/
    width: 100%;
    padding: 0.5% 2%;
    text-align: left;
}

/*-----------------------------------------NAV-------------------------------------------------*/
nav {
    width: 20%;
}

nav ul {
    list-style: none;
    padding-top: 22%;
}

nav ul li {
    padding: 7%;
    margin-bottom: 6%;
    background-color: #64b5f6;
    border-radius: 5px; /*added this to make the border look nice*/
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block; /*added display block so that the links take up the entire width of the container*/
    text-align: center;
}

/*-----------------------------------------MAIN-------------------------------------------------*/
main {
    padding-top: 5%;
    background-color: #bbdefb;
    width: 70%;
}
#page-title{
    text-align: center;
    font-size: calc(8px + 2vw);
    margin-top: 1%;
}
.main-container {
    display: flex;
    padding-top: 5%;
}
.white-box {
    background-color: white;
    padding: 1.5%;
    padding-right: 2.5%;
    width: 90%;
    margin: auto;
    border-radius: 10px; /*added this to make the border look nice*/
}

.content-container {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
}

.calculator {
    padding: 3%;
    background-color: #f4f4f4;
    border-left: 5px solid;
    border-color: #64b5f6;
    width: 75%;
}

.image-container {
    width: 35%;
    padding: 2%;
}

.image-container img{
    max-width: 85%;
    padding-left: 10%;
}

#buttons-div{
    display: flex;
    padding-right: 5%;
    margin-top: 1%;
    margin-left: 8.5%;
}

#buttons-div button{
    color: #ffffff;
    background-color: #64b5f6;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    font-size: 1.5vw;
    width: 14%;
}
#input-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin-top: 6%;
}
#input-one, #input-two{
    font-size: 1.5vw;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    border: 1px solid #64b5f6;
    width: 50%;
    height: 70%;
    text-align: center;
    font-size: 3vw;
}
#output{
    font-size: 3vw;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #64b5f6;
    width: 100%;
    background-color: #cbcdce;
    text-align: center;
    margin-left: 1%;
}
#output-div{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

#page-title{
    padding-bottom: 1%;
}

/*-----------------------------------------FOOTER-------------------------------------------------*/
footer {
    text-align: center;
    padding: 1.1%;
    background-color: #bbdefb;
    position: fixed;
    left: 0; /*added this to make the footer stay fixed*/
    bottom: 0; /*added this to make the footer stay fixed*/
    width: 100%;
}

footer p {
    margin: 0;
}

/*-----------------------------------------MEDIA QUERY-------------------------------------------------*/
@media screen and (max-width: 1000px) {
    main{
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    header{
        text-align: center;
    }
    #page-title{
        font-size: calc(12px + 3vw);
    }
    .main-container {
        display: flex;
        flex-direction: column;
        padding-top: 15%;
    }
    .content-container{
        display: flex;
        flex-direction: column;
    }
    .calculator {
        width: 100%;
        padding: 5%;
    }
    nav {
        width: 100%;
        margin: auto;
        margin-top: 2%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
        padding: 0;
    }

    nav ul li {
        width: 17%;
        margin: 0.3%;
        padding: 1%;
    }

    nav ul li a {
        font-size: calc(2px + 2vw);
        padding: 10%;
    }

    main{
        width: 100%;
    }
    main{
        font-size: calc(6px + 2.4vw);
    }
    .image-container {
        width: 60%;
        margin: 5% auto;
        padding: 0;
    }
    
    .image-container img {
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
    /* Calculator responsive adjustments */
    #input-div {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 3%;
    }
    
    #input-one, #input-two {
        width: 80%;
        font-size: 4vw;
        height: 50px;
    }
    
    #buttons-div {
        flex-wrap: wrap;
        margin-top: 3%;
        margin-left: 0;
        justify-content: center;
        gap: 5px;
    }
    
    #buttons-div button {
        width: 15%;
        min-width: 60px;
        font-size: 3vw;
        padding: 2%;
        margin: 1%;
    }
    
    #output {
        width: 80%;
        font-size: 4vw;
        height: 50px;
        margin-left: 0;
    }
    
    #output-div {
        margin-top: 3%;
    }
    
    footer{
        font-size: calc(2px + 2vw);
    }
}