* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #bbdefb;
    font-family: 'Times New Roman', Times, serif;
}

/*-----------------------------------------HEADER-------------------------------------------------*/
header {
    background-color: #64b5f6;
    position: fixed; /*added this to make the header stay fixed*/
    width: 100%;
    padding: 0.5% 2%;
    text-align: left;
}

/*-----------------------------------------NAV-------------------------------------------------*/
nav {
    width: 20%;
}

nav ul {
    list-style: none;
    padding-top: 22%;
}

nav ul li {
    padding: 7%;
    margin-bottom: 6%;
    background-color: #64b5f6;
    border-radius: 5px; /*added this to make the border look nice*/
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block; /*added display block so that the links take up the entire width of the container*/
    text-align: center;
}

/*-----------------------------------------MAIN-------------------------------------------------*/
main {
    padding-top: 20px;
    background-color: #bbdefb;
    width: 90%;
}
#page-title{
    text-align: center;
}
.main-container {
    display: flex;
    padding-top: 5%;
}
.white-box {
    background-color: white;
    padding: 1.5%;
    padding-right: 2.5%;
    width: 90%;
    margin: auto;
    border-radius: 10px; /*added this to make the border look nice*/
}

.content-container {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
}

.text-container {
    padding: 3%;
    background-color: #f4f4f4;
    border-left: 5px solid;
    border-color: #64b5f6;
    width: 75%;
}

.image-container {
    width: 35%;
    padding: 2%;
}

.image-container img{
    max-width: 100%;
    padding-top: 12%;
}

main{
    font-size: calc(2px + 1.15vw);
    margin: 0;
}

.main-description {
    margin-bottom: 1.1%
}

#page-title{
    padding-bottom: 1%;
}
/*-----------------------------------------FOOTER-------------------------------------------------*/
footer {
    text-align: center;
    padding: 1.1%;
    background-color: #bbdefb;
    margin-top: auto;
}

footer p {
    margin: 0;
}

/*-----------------------------------------MEDIA QUERY-------------------------------------------------*/
@media screen and (max-width: 750px) {
    header{
        text-align: center;
    }
    #page-title{
        font-size: calc(10px + 1.5vw);
    }
    .main-container {
        display: flex;
        flex-direction: column;
        padding-top: 15%;
    }
    .content-container{
        display: flex;
        flex-direction: column;
    }
    .text-container {
        width: 100%;
    }
    nav {
        width: 100%;
        margin: auto;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
        padding: 0;
    }

    nav ul li {
        width: 17%;
        margin: 0.3%;
        padding: 1%;
    }

    nav ul li a {
        font-size: calc(2px + 2vw);
        padding: 10%;
    }

    main{
        width: 100%;
    }
    .image-container {
        width: 60%;
        margin: 5% auto;
        padding: 0;
    }
    
    .image-container img {
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    footer{
        font-size: calc(2px + 2vw);
    }
}